#navbar {
  background-color: $white;
}
#logo {
  display: flex;
  margin-right: auto;
}
#primary-menu {
  // max-width: 100%;
  margin-left: 1rem;
  .nav-item:not(:first-child) {
    border-top: 1px solid #eee;
    border-top-color: rgb(238, 238, 238);
  }
  .nav-link {
    display: block;
    line-height: 22px;
    padding: 14px 5px;
    letter-spacing: 1px;
  }
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-up(md) {
  #navbar {
    background-color: transparent;
  }
  #primary-menu {
    flex: 0 0 auto;
    flex-grow: 0;
    .nav-item:not(:first-child) {
      border-top: none;
    }
  }
}
