#navbar {
  background-color: $white;
  padding: 0rem 1.5rem;
}
#logo {
  display: flex;
  margin-right: auto;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#primary-menu {
  // max-width: 100%;
  margin-left: 1rem;
  .nav-item:not(:first-child) {
    border-top: 1px solid #eee;
    border-top-color: rgb(238, 238, 238);
  }
  .nav-link {
    display: block;
    line-height: 22px;
    padding: 14px 5px;
    letter-spacing: 1px;
  }
}

@include media-breakpoint-up(lg) {
  #navbar {
    background-color: transparent;
  }
  #primary-menu {
    flex: 0 0 auto;
    flex-grow: 0;
    .nav-item:not(:first-child) {
      border-top: none;
    }
    .nav-link {
      padding: 29px 15px;
      letter-spacing: 2px;
    }
  }
}
